    .icon_flex {
        width: 100%;
        height: 20vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
    }
    .icon_scroll,
    .icon_scroll:before {
        position: absolute;
    }
    .icon_scroll {
        width: 20px;
        height: 40px;
        top: 70%;
        margin-top: -35px;
        box-shadow: inset 0 0 0 1px #fff;
        border-radius: 25px;
    }
    .icon_scroll:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: -0.20rem;
        top: 8px;
        border-radius: 4px;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: scroll;
        animation-name: scroll;
    }
    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translateY(30px);
        }
    }
    @keyframes scroll {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translateY(30px);
        }
    }
    @media screen and (max-width: 468px) {
        .icon_scroll::before {
            margin-left: -0.26rem;
        }
    }